{% extends "base.html" %} <!-- Define que esta página herda o layout base -->
{% load static %} <!-- Carrega a tag 'static' para acessar arquivos estáticos -->

{% block 'head' %}
 <!-- Estilos personalizados e ícones Bootstrap -->
<link rel="stylesheet" href="{% static 'medicos/css/cadastro_medico.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock 'head' %}

{% block 'body' %}

{% include "partials/navbar.html" %}
<!-- Navbar reutilizável incluída -->

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-8">
             <!-- Saudação personalizada com o nome do usuário -->
        <label style="margin-left: 30px;margin-bottom:40px; font-size: 25px" class="p-bold">
            <span class="color-dark" style="color: #555";>Olá,</span>
            {{request.user.username}},
            <span class="color-dark" style="color: #555";>
                vamos realizar seu cadastro médico legal.
            </span>
        </label>

             <!-- Exibição de mensagens de feedback -->
            {% if messages %}
            <br>
            {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
            {% endfor %}
            {% endif %}
            
            <!-- Formulário de cadastro médico -->
            <form action="{% url 'cadastro_medico' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <!-- Campo para o CRM -->
                        <label for="">CRM:</label>
                        <input type="text" class="form-control shadow-main-color" name="crm" placeholder="CRM...">
                    </div>
                    <!-- Upload de cédula de identidade médica -->
                    <div class="col-md">
                        <label for="">Cédula de identidade médica:</label>
                        <input type="file" name="cim" id="" class="form-control shadow-main-color">
                    </div>
                </div>
                <br>
                <div class="row">
                     <!-- Nome completo -->
                    <div class="col-md">
                        <label style="font-weight: 500;" for="">Nome completo:</label>
                        <input type="text" class="form-control shadow-main-color" name="nome"
                            placeholder="Digite seu nome completo ...">
                    </div>

                    <!-- Sexo -->
                    <div class="col-md-3">
                        <label for="sexo">Sexo:</label>
                        <select name="sexo" class="form-select" id="sexo">
                            <option value="">Selecione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>

                    <!-- CEP -->
                    <div class="col-md-3">
                        <label for="">CEP:</label>
                        <input type="text" name="cep" id="" class="form-control shadow-main-color" placeholder="Digite o seu CEP ...">
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- Rua -->
                    <div class="col-md">
                        <label for="">Rua:</label>
                        <input type="text" name="rua" id="" class="form-control shadow-main-color" placeholder="Endereço ...">
                        <br>
                    </div>

                    <!-- Número da residência -->
                    <div class="col-md-3">
                        <label for="">Número:</label>
                        <input type="number" name="numero" id="" class="form-control shadow-main-color" placeholder="N° da sua residência ...">
                    </div>
                </div>

                <div class="row">
                    <!-- Bairro -->
                    <div class="col-md">
                        <label style="font-weight: 500;" for="">Bairro:</label>
                        <input type="text" class="form-control shadow-main-color" name="bairro"
                            placeholder="Digite o seu bairro ...">
                    </div>
                    <!-- Cidade -->
                    <div class="col-md">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control shadow-main-color" name="cidade" placeholder="Digite sua cidade...">
                    </div>

                    <!-- Estado -->
                    <div class="col-md-3">
                        <label for="estado">Estado:</label>
                        <select name="estado" class="form-select">
                            <option value="">Selecione seu estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- Upload de RG -->
                <label for="">RG:</label>
                <input type="file" name="rg" id="" class="form-control shadow-main-color">
                <br>
                <!-- Foto de perfil -->
                <label for="">Foto de perfil:</label>
                <input type="file" name="foto" id="" class="form-control shadow-main-color">
                <br>
                <!-- Especialidade médica -->
                <label for="">Especialidade médica:</label>
                <select name="especialidade" class="form-select" id="">
                    <option value="">Selecione uma especialidade</option>
                    {% for i in especialidades %}
                    <option value="{{i.id}}">{{i.especialidade}}</option>
                    {% endfor %}
                </select>
                <br>
                <!-- Descrição sobre o médico -->
                <label for="">Descrição:</label>
                <textarea name="descricao" class="form-control shadow-main-color" placeholder="Descreva aqui sobre sua especialidade ..."></textarea>
                <br>
                <!-- Valor da consulta -->
                <label for="">Valor consulta:</label>
                <input type="number" name="valor_consulta" class="form-control shadow-main-color" placeholder="Digite aqui o valor da sua consulta ...">
                <br>
                <!-- Botão de envio -->
                <input type="submit" value="Cadastre-se" class="btn btn-success btn-dark-color">
            </form>
        </div>
    </div>
</div>

{% endblock 'body' %}